*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: arial;
   }

body{
    width: 100%;
    background: url('../images/student3.jpg') no-repeat center;
    background-size: cover;
    font-family: sans-serif;
    /* display:flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh; */
}
/* .container{
    position:absolute;
    top:50%;
    left:50%;
    height:100vh;
    width: 100vh;
    margin-left:-250px; 
    margin-top:-180px;
    display: flex;
    justify-content: center;
    align-items: center; */

  /* -hauteur/2 */

 /* } */
.container{
    height:100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:250px; 
}
/* .h2{
    margin-bottom: 10px;
    width: 100%;
    color: #45f3fF;
    font-size: 36px;
    text-align: center;
} */

.form{
    position:relative;
    width:100%;
    max-width:3800px;
    padding:80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius:2px ;
    color:#fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    

}
/* .form::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background: rgba(255,255,255,0.08);
    
    border-radius:10px;
    pointer-events: none;
} */

.form img{
    position:absolute;
    top:-50px;
    left:calc(50%-50%);
    width:100px;
    background:rgba(255,255,255,0.8);
    border-radius:50%;
}

.form h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #238F78;
}

.form .input {
    position: relative;

}

.form .input input {
    width:100%;
    padding:10px 0;
    font-size:1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    background-color:transparent;
    color: inherit;

    
}

.form .input label{
    position:absolute;
    top:0;
    left:0;
    padding:10px 0;
    font-size:1rem;
    pointer-events: none;
    transition: .3s ease-out;

}

.form .input input:focus + label,
.form .input input:valid + label{
    transform:translateY(-18px);
    color:#238F78;
    font-size : .8rem;
}

.btn{
    display:block;
    margin-left: auto;
    border:none;
    outline:none;
    background-image:radial-gradient(circle at top left,#23708F,#238F78);
    
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing:1px;
    padding:10px 20px;
    border-radius: 5px;
    cursor:pointer;
}
.btn b{
    font-family: Arial;
    color:wheat;
   
}
p ,a{
    color:inherit;
    text-decoration: none;

}
a{text-decoration: none;}

.error{
    width:92%;
    margin:0px auto;
    padding:10px;
    border:1px solid red;
    color:red;
    background: white;
    border-radius: 5px;
    text-align-last: left;

} 


.btn:hover{
    box-shadow: 0 0 10px #474f8d ,0 0 20px #7FFFD4 ,0 0 20px #7FFFD4;
}